*
!*.*
!*/

*.exe
*.o
*.so
*.dll

*.zip
*.rar
*.tar
*.7z
*.jar
*.iso
*.gz
*.dmgd

*.doc
*.docx
*.log
*.dat

*.avi
*.flv
*.mpeg
*.mpg

*.png
*.jpg

**/.vscode*
**/__pycache__/*
**/.ipynb_checkpoints/*
**/*.lprof

**/build/*
**/dist/*
**/*.egg-info/*
**/*.egg
**/extras/*
.hidden
**/.coverage
**/coverage.xml
